<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/fontawesome/css/all.min.css">
    <title>Fintech</title>
</head>

<body>
    <div class="flex-dashboard">
        <sidebar>
            <div class="sidebar-title">
                <img src="../imagens/favicon.png" alt="Logo Fintech">
                <h2>Fintech</h2>
            </div>
            <div class="menu">
                <ul>
                    <li>
                        <i class="fa-solid fa-address-card"></i>
                        <a href="../views/dashboard.html">Dashboard</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-address-card"></i>
                        <a href="#">Perfil</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-address-card"></i>
                        <a href="#">Contas</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-address-card"></i>
                        <a href="#"> Metas</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-address-card"></i>
                        <a href="#">Mais opções</a>
                    </li>
                </ul>
            </div>
        </sidebar>
        <main>
            <header>
                <a href="#"> <i class="fa-solid fa-table-columns"></i> Dashboard</a>
                <a href="../index.html"><i class="fa-solid fa-arrow-right-from-bracket"></i>Logout</a>
            </header>
            <div class="main-content">
                <div class="panel">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis, optio. Debitis, aperiam
                            adipisci enim voluptatum commodi natus odio, praesentium, dolorum iste fuga quisquam. Libero
                            accusamus aliquid porro deserunt repellat nulla.</p>
                </div>
                <div class="panel">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis, optio. Debitis, aperiam
                            adipisci enim voluptatum commodi natus odio, praesentium, dolorum iste fuga quisquam. Libero
                            accusamus aliquid porro deserunt repellat nulla.</p>
                </div>
                <div class="panel">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis, optio. Debitis, aperiam
                            adipisci enim voluptatum commodi natus odio, praesentium, dolorum iste fuga quisquam. Libero
                            accusamus aliquid porro deserunt repellat nulla.</p>
                </div>
                <div class="panel">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis, optio. Debitis, aperiam
                            adipisci enim voluptatum commodi natus odio, praesentium, dolorum iste fuga quisquam. Libero
                            accusamus aliquid porro deserunt repellat nulla.</p>
                </div>
                <div class="panel">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis, optio. Debitis, aperiam
                            adipisci enim voluptatum commodi natus odio, praesentium, dolorum iste fuga quisquam. Libero
                            accusamus aliquid porro deserunt repellat nulla.</p>
                </div>
                <div class="panel">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis, optio. Debitis, aperiam
                            adipisci enim voluptatum commodi natus odio, praesentium, dolorum iste fuga quisquam. Libero
                            accusamus aliquid porro deserunt repellat nulla.</p>
                </div>
                <div class="panel">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis, optio. Debitis, aperiam
                            adipisci enim voluptatum commodi natus odio, praesentium, dolorum iste fuga quisquam. Libero
                            accusamus aliquid porro deserunt repellat nulla.</p>
                </div>
                <div class="panel">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis, optio. Debitis, aperiam
                            adipisci enim voluptatum commodi natus odio, praesentium, dolorum iste fuga quisquam. Libero
                            accusamus aliquid porro deserunt repellat nulla.</p>
                </div>
                <div class="panel">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis, optio. Debitis, aperiam
                            adipisci enim voluptatum commodi natus odio, praesentium, dolorum iste fuga quisquam. Libero
                            accusamus aliquid porro deserunt repellat nulla.</p>
                </div>

            </div>
        </main>
    </div>


    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../plugins/fontawesome/js/all.min.js"></script>
</body>

</html>